{% if cursor | length > 0 %}
    <h2>REDCap Unmapped Projects</h2>
    <p>
        The following REDCap project have not been mapped to a study.
        Either map the project to a study in the Identity tool.
        table, or set the REDCap status to other than Online (1).
    </p>
    <table>
        <thead>
            <tr>
                <th>Datalake Database</th>
                <th>Project Name</th>
                <th>Project ID</th>
            </tr>
        </thead>
        <tbody>
            {% for r in cursor %}
                <tr>
                    <td>{{ r['datalake_database'] }}</td>
                    <td>{{ r['project_name'] }}</td>
                    <td>{{ r['project_id'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
