{% if cursor | length > 0 %}
    <h2>Missing Mapped CiviCRM Case Type</h2>
    <p>
        The following CiviCRM case types have not been
        copied into the Data Warehouse civicrm__case table.
    </p>
    <table>
        <thead>
            <tr>
                <th>Case Type ID</th>
                <th>Study ID</th>
            </tr>
        </thead>
        <tbody>
            {% for r in cursor %}
                <tr>
                    <td>{{ r['case_type_id'] }}</td>
                    <td>{{ r['cfg_study_id'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
