{% if cursor | length > 0 %}
    <h2>Missing Study OpenSpecimen</h2>
    <p>
        The following Openspecimen collection protocols 
        are missing from the Study Data Warehouses
        that are defined in cfg_openspecimen_study_mapping
    </p>
    <table>
        <thead>
            <tr>
                <td>Study</td>
                <td>Collection Protocol ID</td>
            </tr>
        </thead>
        <tbody>
            {% for r in cursor %}
                <tr>
                    <td>{{ r['study_database'] }}</td>
                    <td>{{ r['collection_protocol_id'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
