{% if cursor | length > 0 %}
    <h2>Initial Missing Study Data Warehouses</h2>
    <p>
        The following study data warehouses are missing.  This could be because an
        error has occured in the ETL scripts or a mapping is missing.
    </p>
    <ul>
        {% for r in cursor %}
            <li>
                {{ r['missing_study_data_warehouse'] }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

