{% if cursor | length > 0 %}
    <h2>Missing Mapped OpenSpecimen Collection Protocol</h2>
    <p>
        The following OpenSpecimen Collection Protocols have not been
        copied into the Data Warehouse openspecimen__collection_protocol table.
    </p>
    <table>
        <thead>
            <tr>
                <th>Collection Protocol ID</th>
                <th>Study ID</th>
            </tr>
        </thead>
        <tbody>
            {% for r in cursor %}
                <tr>
                    <td>{{ r['collection_protocol_id'] }}</td>
                    <td>{{ r['cfg_study_id'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
