{% if cursor | length > 0 %}
    <h2>Extra Study CiviCRM Contacts</h2>
    <p>
        The following CiviCRM contacts 
        have been copied into a Study Data Warehouses
        but are not needed by the CiviCRM cases
    </p>
    <ul>
        {% for r in cursor %}
            <li>
                <dl>
                    <dt>Study</dt>
                    <dd>{{ r['study_database'] }}</dd>
                    <dt>Contact ID</dt>
                    <dd>{{ r['contact_id'] }}</dd>
                </dl>
            </li>
        {% endfor %}
    </ul>
{% endif %}
