{% if cursor | length > 0 %}
    <h2>Initial Study Participant Count Check</h2>
    <p>
        There is a mismatch between the expected and actual numbers of
        REDCap participants loaded into the study data warehouses
    </p>
    <table>
        <thead>
            <tr>
                <th>Study</th>
                <th>Datalake Database</th>
                <th>Project</th>
                <th>Project ID</th>
                <th>Expected</th>
                <th>Actual</th>
            </tr>
        </thead>
        <tbody>
            {% for r in cursor %}
                <tr>
                    <td>{{ r['study_name'] }}</td>
                    <td>{{ r['datalake_database'] }}</td>
                    <td>{{ r['project_name'] }}</td>
                    <td>{{ r['project_id'] }}</td>
                    <td>{{ r['expected_participant_count'] }}</td>
                    <td>{{ r['actual_participant_count'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
