{% if cursor | length > 0 %}
    <style>
        dl {
            display: grid;
            grid-template-columns: 1fr 2fr;
        }
        dt {
            font-weight: bold;
        }
    </style>

    <h1>Data Warehousing Errors</h1>
    <p>The following errors were raised during data warehousing.</p>

    {% for e in cursor %}
        {{ e | safe}}
    {% endfor %}
{% endif %}