{% if cursor | length > 0 %}
    <h2>Missing Study REDCap Data</h2>
    <p>
        The following REDCap projects are missing from the
        desc__redcap_data in the Study Data Warehouses
        that are defined in cfg_redcap_mapping
    </p>
    <table>
        <thead>
            <tr>
                <th>Study</th>
                <th>REDCap</th>
                <th>REDCap Project ID</th>
            </tr>
        </thead>
        <tbody>
            {% for r in cursor %}
                <tr>
                    <td>{{ r['study_database'] }}</td>
                    <td>{{ r['datalake_database'] }}</td>
                    <td>{{ r['redcap_project_id'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
