{% if cursor | length > 0 %}
    <h2>Missing Study CiviCRM Contacts</h2>
    <p>
        The following CiviCRM contacts 
        are missing from the Study Data Warehouses
        that are defined in cfg_civicrm_study_mapping
    </p>
    <table>
        <thead>
            <tr>
                <td>Study</td>
                <td>Case Type ID</td>
                <td>Contact ID</td>
            </tr>
        </thead>
        {% for r in cursor %}
            <tr>
                <td>{{ r['study_database'] }}</td>
                <td>{{ r['case_type_id'] }}</td>
                <td>{{ r['contact_id'] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
