{% if cursor | length > 0 %}
    <h2>Missing Study REDCap Log</h2>
    <p>
        The following REDCap projects are missing from the
        desc__redcap_log in the Study Data Warehouses
        that are defined in cfg_redcap_mapping
    </p>
    <table>
        <thead>
            <tr>
                <th>Study</th>
                <th>Datalake Database</th>
                <th>REDCap Project</th>
                <dt>REDCap Project ID</dt>
            </tr>
        </thead>
        <tbody>
            {% for r in cursor %}
                <tr>
                    <td>{{ r['study_database'] }}</td>
                    <td>{{ r['datalake_database'] }}</td>
                    <td>{{ r['project_name'] }}</td>
                    <td>{{ r['redcap_project_id'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
